body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  min-width: 350px;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  border: 2px solid rgb(133, 114, 8);
  border-radius: 4px;
  margin: 10px 0;
}

button {
  color: white;
  background: rgb(133, 114, 8);
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid rgb(133, 114, 8);
  padding: 10px 20px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#delete-btn {
  background: white;
  color: rgb(133, 114, 8);
}
ul {
  margin-top: 15px;
  list-style: none;
  padding-left: 0;
}
li {
  margin-top: 15px;
}
a {
  color: rgb(133, 114, 8);
}
